#navbar{
    background-color: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.354);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
    padding: 10px 60px;
}
#navbar h2{
    font-style: oblique;
}
#navbar li{
    list-style: none;
}
#navbar input{
    outline: none;
}
#navbar .searchDiv{
    width: 50%;
}
#navbar #supNum{
    background-color: red;
    padding: 13px 10px;
}
#container{
    margin-top: 15vh !important;
}
.link{
    text-decoration: none!important;
}
.passInp {
    position: relative;
}
.showAndHide {
    position: absolute;
    right: 7px;
    top: 3px;
}
#cart{
    width: 60%;
}
#cartSum{
    width: 25%;
    height: fit-content;
}